{% extends 'base.html' %}

{% block content %}
    <h1>Edit <em>{{ book.title }}</em></h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.isbn.label(class="form-label") }}
            {{ form.isbn(class="form-control") }}
            {% if form.isbn.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.isbn.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.title.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.author.label(class="form-label") }}
            {{ form.author(class="form-control") }}
            {% if form.author.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.author.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.callnumber.label(class="form-label") }}
            {{ form.callnumber(class="form-control") }}
            {% if form.callnumber.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.callnumber.errors|join(', ') }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}