{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col col-8">
            <h1>{{ title }}</h1>
        </div>
        <div class="col col-4 text-end">
            <a href="{{ url_for('shelflist.index') }}" class="btn btn-success">Back to Library</a>
        </div>
    </div>
    {% if shelflist|length == 0 %}
        <div class="alert alert-info" role="alert">
            No books with missing call numbers
        </div>
    {% endif %}
    <ul class="list-group mb-3">
        {% for book in shelflist %}
            <li class="list-group-item list-group-item-light list-group-item-action">
                <div class="row">
                    <div class="col col-8">
                        {% if book.author is defined %}
                            {{ book.author }},
                        {% endif %}
                        <em><strong>{{ book.title }}</strong></em>
                    </div>
                    <div class="col col-4 text-end">
                        <a href="{{ url_for('shelflist.edit_book', isbn=book.isbn) }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{{ url_for('shelflist.delete_book', isbn=book.isbn) }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}