<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}
    <header>
        <h2>
            {% if title is defined %}
                {{ title }} | {{ config.SITE_NAME }}
            {% else %}
                {{ config.SITE_NAME }}
            {% endif %}
        </h2>
    </header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer>A Teenie Enterprises Ltd Joint</footer>
{% endblock %}

</body>
</html>